
<h1>
  <%= @user.username%>
</h1>
<img src="<%=@user.image_url%>" alt="">

<p>
  username: <%= @user.username %> <br>
  email: <%= @user.email %> <br>
  <a href="/buynana">
    banana: <%= @user.banana %> <br>
  </a>
  
</p>