<div class="user-body">
  <div class="username-image">
    <h1>
      <%= @user.username%>
    </h1>
    <img src="<%=@user.image_url%>" alt="">
  </div>
  <div class="user-info">
    <div class="each-info">
      <span class="usr-attr">username:  </span>
      <%= @user.username %> <br>
    </div>
    <div class="each-info">
      <span  class="usr-attr">email:  </span>
      <%= @user.email %> <br>
    </div>
    <div class="each-info">
      <a href="/buynana">
        <img class="banana-icon-64" src="https://www.clker.com/cliparts/f/1/e/9/H/i/banana-md.png" alt="bananaicon">
        <span class="usr-attr">:   
        <%= @user.banana %></span>
      </a>
    </div>
  </div><!--end of user info-->
</div><!--end of user-body-->