<div class="banner">
  <p>welcome to... </p>
  <h1>B l a h n a n a</h1>
  <p>
    a creative community for you to blah bits and pieces into stories.
  </p>
</div>

<div class="new-story">
  <button class="new-story-btn">
    Start a new story
  </button>
</div>

<div class="new-story-form hide">
  <form action="/stories" method="post" enctype="multipart/form-data">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <label for="">Title</label>
    <input class="title_ipt" type="text" name="title">
    <label for="">Img upload</label>
    <input class="img_file" type="file" name="img_file">
    <button class="create-btn">create</button>
  </form>
</div>

<h1 class="invite">make these stories more awesome ? go write your twist !</h1>

<div class="stories-container">
  <% @stories.each do |story| %>
    <div class="story-con">
      <a href="/stories/<%=story.id%>">
        <span><%= story.title%></span>
        <img src="<%= story.story_img%>" alt="">
      </a>

      <% if admin? %>
      <div class="delete-story">
        <form class="" action="/delete/story" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="story_id" value="<%=story.id%>">
          <button class="delete-story-btn">
            Delete Story
          </button>
        </form>
      </div>
    <% end %><!--end of if admin?-->
    </div> <!--end of story-con-->
  <%end%>
</div><!--end of stories-container-->

<script type="text/javascript">

$('.new-story-btn').click(function(){
  $('.new-story-form').removeClass('hide')
})

</script>
