<a href="/">Home</a>

<div>

  <h1><%= @story.title%></h1>

</div>


<div class="current_story">
  <% @story_entries.each do |story_entry| %>
  <hr>
  <span><%= story_entry.user_id%></span>
  <img src="<%= story_entry.user.image_url%>" alt="">
  <span><%= story_entry.user.username%></span>
  <span class="entry_user_bnn"><%= story_entry.user.banana %></span>
  <p><%= story_entry.body%></p>

  <form action="/give_banana" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="hidden" name="source_user_id" value="<%=current_user.id%>">
    <input type="hidden" name="target_user_id" value="<%=story_entry.user_id %>">
    <input type="hidden" name="story_entry_id" value="<%=story_entry.id%>">
    <button>&#x1F34C;</button>
  </form>
<% end %> <!--end of current_story-->
</div>


<div class="new_entry hide">
  <form action="/api/create" method="post">
  <!-- <form action="/story_entries" method="post"> -->
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
     <input type="hidden" name="story_id" value="<%= @story.id %>">
    <input type="hidden" name="user_id" value="<%= current_user.id %>">
    <textarea name="body" rows="5" cols="100"></textarea>
    <button>Enter</button>
  </form>
</div>

<script>

var options = {
  url: '/api/all',
  method: 'get'
}

$.ajax(options).done(function(response){
console.log(response[response.length-1])
console.log("response[response.length-1].user_id = "+response[response.length-1].user_id)
console.log("current_user.id = "+ <%= current_user.id %>)
debugger;

// var $summonBtn = $('.summon')
//
// $summonBtn.click(function(){
//
//   var pokeNumOne = response[rand]
//   var $container = $('.pokemon-hugger')
//   var $showPoke = $('<div>')
//   var $pokeName = $('<h1>').text(pokeNumOne.nickname)
//   var $pokeFace = $('<img>').attr('src',pokeNumOne.imgurl)
//   var $pokeSpc = $('<li>').text("species: " + pokeNumOne.species)
//   var $pokeLev = $('<li>').text("level: " + pokeNumOne.level)
//   $showPoke.append($pokeName)
//   $showPoke.append($pokeFace)
//   $showPoke.append($pokeSpc)
//   $showPoke.append($pokeLev)
//   $container.append($showPoke)
//
// })
  $(".new_entry").removeClass("hide");
  if (response[response.length-1].user_id === <%= current_user.id %>){
    alert ("Please wait for someone else to write")
     $(".new_entry").addClass("hide");
   }
})

</script>
