<a href="/">Home</a>

<div>

  <h1><%= @story.title%></h1>

</div>


<div class="current_story">
  <% @story_entries.each do |story_entry| %>
  <hr>
  <span><%= story_entry.user_id%></span>
  <img src="<%= story_entry.user.image_url%>" alt="">
  <span><%= story_entry.user.username%></span>
  <span class="banana_receive">&#x1F34C;</span>
  <span><%= @story.banana %></span>
  <p><%= story_entry.body%></p>
<% end %>
</div>


<form action="/bananas" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="story_id" value="<%= @story.id %>">
</form>



<div class="new_entry">
  <form action="/story_entries" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
     <input type="hidden" name="story_id" value="<%= @story.id %>">
      <input type="hidden" name="user_id" value="<%= current_user.id %>">
    <textarea name="body" rows="5" cols="100"></textarea>
    <button>Enter</button>
  </form>
</div>

<script>

var options = {
  url: '/api/all',
  method: 'get'
}

$.ajax(options).done(function(response){

console.log(response)


})


</script>
