<!DOCTYPE html>
<html>
  <head>
    <title>Blahnana</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAOPwAADL1gA0e5kAANrmACBeeAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAiIiIAAAAAAiIiIiAAAAAiRERERAAAAiQREREREAACRBREREERACJBFAAARDMAJBFAAAAEMwAkFAAAAAAAACQUAAAAAAAAAkAAAAAAAAACQAAAAAAAAAUwAAAAAAAABTAAAAAAAAD//wAA//8AAP//AADwPwAA4B8AAMAPAACABwAAgAMAAAPDAAAH4wAAD/8AAA//AACf/wAAn/8AAJ//AACf/wAA" rel="icon" type="image/x-icon" />
    <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  </head>

  <body>
      <% if current_user %>
      Signed in as 
      <a href="/users/<%= current_user.id %>">
        <%= current_user.username %> 
      </a>
      <a href="#">
        <div class="banana_display">
        <span class="banana_current_user">&#x1F34C;</span>
        <span><%= current_user.banana%></span>
        </div>
      </a>
      <div class="user_image">
        <img src="<%= current_user.image_url %>" >
      </div>
      <div>

    

      | <%= link_to "Logout", '/logout' %>
      
      <% else %>
      
      <%= link_to 'Login', '/login' %> 

      | <%= link_to 'Signup', '/signup' %>
      <% end %>
      


    <%= yield %>
  </body>
</html>
