<!DOCTYPE html>
<html>
  <head>
    <title>blahnana</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAOPwAADL1gA0e5kAANrmACBeeAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAiIiIAAAAAAiIiIiAAAAAiRERERAAAAiQREREREAACRBREREERACJBFAAARDMAJBFAAAAEMwAkFAAAAAAAACQUAAAAAAAAAkAAAAAAAAACQAAAAAAAAAUwAAAAAAAABTAAAAAAAAD//wAA//8AAP//AADwPwAA4B8AAMAPAACABwAAgAMAAAPDAAAH4wAAD/8AAA//AACf/wAAn/8AAJ//AACf/wAA" rel="icon" type="image/x-icon" />
    <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans" rel="stylesheet">
  </head>

  <body>
    <div class="top-nav">
      <% if current_user %>
      <div class="user-panel-head">
        <div class="user-icon nav-elem-group">
          <img src="<%= current_user.image_url %>" >
        </div>

        <div class="username nav-elem-group">
          <a href="/users/<%= current_user.id %>">
              <%= current_user.username %>
          </a>
        </div> <!--end of username-->

        <div class="banana-status nav-elem-group">
          <a href="/buynana">
            <img class="banana-icon" src="https://www.clker.com/cliparts/f/1/e/9/H/i/banana-md.png" alt="bananaicon">
            <img class="hash-icon" src="https://d30y9cdsu7xlg0.cloudfront.net/png/337476-200.png" alt="#">
            <div class="bnn-balance">
              <%= current_user.banana%>
            </div>
          </a>
        </div><!--end of banana status-->
        
        <div class="login-out nav-elem-group">
          <%= link_to "Logout", '/logout' %>
        </div>
      <% else %>
        <div class="login-out nav-elem-group">
          <%= link_to 'Login', '/login' %> 
        </div>
      <% end %>

      </div><!--end of user-panel-head-->
    </div><!--end of top nav-->
    
    <%= yield %>
  </body>
  <footer>
    © Mia-Jennifer-Wally Press and Contributors 2018
  </footer>
</html>
